@page "/movies"
@inherits R3duxComponent<MovieState>

<PageTitle>R3dux - Movies</PageTitle>
<hgroup>
  <p class="chapter">Example</p>
  <h1>Movies</h1>
  <p>
    Creates a simple movie example using the R3dux state management library for predictable state handling,
    featuring loading state and error handling for displaying movies.
  </p>
</hgroup>

<article>
  <header>5 more recent movies</header>
  @if (ErrorMessage != null)
  {
    <p><strong>@ErrorMessage</strong></p>
  }
  else if (IsLoading)
  {
    <p><strong>Loading movies...</strong></p>
  }
  else
  {
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var movie in Movies.Values)
      {
        <tr>
          <td>@movie.Title</td>
          <td>@movie.Director</td>
          <td>@movie.Year</td>
        </tr>
      }
      </tbody>
    </table>
  }
  <footer style="display: flex; justify-content: space-between;">
    @if (IsLoading)
    {
      <button aria-busy="true" disabled>Please wait...</button>
    }
    else
    {
      <button @onclick="LoadMovies">Reload Movies</button>
    }
    <div>
      <button
        @onclick="PreviousPage"
        disabled="@(State.Pagination.CurrentPage == 1)">
        Previous
      </button>
      <span style="margin: 0 1rem;">
        Page @State.Pagination.CurrentPage of @State.Pagination.TotalPages
      </span>
      <button
        @onclick="NextPage"
        disabled="@(State.Pagination.CurrentPage == State.Pagination.TotalPages)">
        Next
      </button>
    </div>
  </footer>
</article>


@code {
  
  private ImmutableDictionary<int, Movie> Movies
    => State.SelectMoviesByYear();
  
  private bool IsLoading
    => State.IsLoading;
  
  private string? ErrorMessage
    => State.ErrorMessage;

  protected override void OnInitialized()
  {
    base.OnInitialized();

    if (Movies.Count == 0)
    {
      LoadMovies();
    }
  }
  
  private void LoadMovies()
    => Dispatch(new LoadMovies());
  
  private void PreviousPage()
  {
    if (State.Pagination.CurrentPage > 1)
    {
      Dispatch(new SetCurrentPage(State.Pagination.CurrentPage - 1));
      LoadMovies();
    }
  }

  private void NextPage()
  {
    if (State.Pagination.CurrentPage < State.Pagination.TotalPages)
    {
      Dispatch(new SetCurrentPage(State.Pagination.CurrentPage + 1));
      LoadMovies();
    }
  }

}